:deep(.n-menu-item) {
  width: 100%;

  .n-menu-item-content::before {
    border-radius: 0.5rem;
  }
}

:deep(.n-thing) {
  .n-thing-avatar {
    display: flex;
    align-items: center;
  }
}

.overflow-hidden {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:deep(.n-flex) {
  min-width: 0;
}

:deep(.n-base-select-option) {
  width: 100% !important;
}
