.DS_Store
.idea/
go-client/test.go
go-client/build
interface/node_modules
interface/yarn.lock
interface/dist_electron
interface/dist

interface/new-Client/*

new-Client/node_modules
new-Client/out
new-Client/dist
