.n-layout {
  height: 100%;

  :deep(.n-layout-sider) {
    .n-layout-sider-scroll-container {
      min-width: unset !important;
      width: 185px;
    }
  }

  :deep(.n-layout-scroll-container) {
    overflow-y: hidden;
  }
}
